<main id="app">
  <h1>Crop Canvas</h1>
  <div class="box">
    <h2>Document</h2>
    <!-- canvas -->
    <div class="container">
      <canvas class="pdfviewer-canvas cropcanvas-canvas"></canvas>
      <canvas class="cropcanvas-cropper"></canvas>
    </div>
    <div class="hide">
      <canvas class="cropcanvas-shadow"></canvas>
    </div>
    <p><span class="pagination">
      <button class="btn pdfviewer-prev" title="Page précédente">⇦</button>
      <button
        class="btn pdfviewer-next" title="Page suivante">⇨</button>
      <span class="pdfviewer-pagenum"></span> / <span
      class="pdfviewer-pagecount">
      </span></span> <span>
      <button class="btn cropcanvas-save" type="button" title="Enregistrer l'image">⏺</button></span></p>
  </div>
  <div class="box">
    <h2>Image</h2>
    <!-- Visualiser l'image -->
    <p><img src="" class="cropcanvas-viewer"></p>
  </div>

</main>
